.App {
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px white;
  font-family: "Papyrus";
  font-size: 20px;
  cursor: url("../cursors/Normal.cur"), auto;
  height: 100%;
  width: 100%;
}

.welcome {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: -10%;
}
.logo {
  height: 30%;
  width: 100%;
  margin-bottom: -20px;
}
.StartGame {
  margin-top: -10%;
  height: 60px;
  font-size: xx-large;
  color: rgb(183, 179, 179);
  background-color: black;
  border-style: ridge;
  border-width: 10px;
}
.StartGame:hover {
  color: red;
  animation: color-changer 4s ease infinite;
  cursor: url("../cursors/Link Select.cur"), auto;
}
.StartGame:active {
  animation: shadow-changer 4s ease infinite;
  transform: translateY(4px);
}
@keyframes color-changer {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  75% {
    color: yellow;
  }
  100% {
    color: green;
  }
}
@keyframes shadow-changer {
  0% {
    box-shadow: 5px 5px 5px red, 3px 3px 5px blue inset;
  }
  25% {
    box-shadow: 5px 5px 5px blue, 3px 3px 5px red inset;
  }
  75% {
    box-shadow: 5px 5px 5px yellow, 3px 3px 5px green inset;
  }
  100% {
    box-shadow: 5px 5px 5px green, 3px 3px 5px yellow inset;
  }
}
