.Game {
  animation: backgroundcolor-changer 1s ease-in-out;
  animation-iteration-count: 2;
  height: 100vh;
  margin-top: -5%;
  background-size: cover;
}
.lightButton {
  height: 200px;
  width: 200px;
  margin: 0px;
  border-width: 10px;
  border-style: outset;
  box-shadow: black 1px 1px 1px 1px;
}
.lightButton:active {
  transform: scale(99%);
}
.gameboard {
  margin: 10%;
  position: relative;
}
.lightButton:hover {
  cursor: url("../cursors/Link Select.cur"), auto;
}
.gameboardHalf {
  display: flex;
  align-items: center;
  justify-content: center;
}
.startButton {
  height: 200px;
  width: 200px;
  background-color: black;
  border-width: 15px;
  border-style: ridge groove groove ridge;
  border-color: rgb(0, 0, 0);
  border-radius: 100%;
  position: absolute;
  margin-left: 0px;
  margin-top: -15em;
  color: red;
  cursor: url("../cursors/Normal.cur"), auto;
}
.centerLogo {
  border-style: solid;
  border-color: rgb(139, 139, 139);
  border-radius: 50px;
  border-width: 5px;
  height: 40px;
  width: 150px;
  font-family: "Bauhaus 93";
  font-size: 45px;
  line-height: 40px;
  border-style: groove;
  cursor: url("../cursors/Link Select.cur"), auto;
}
.startButton:active {
  transform: scale(0.99);
}
.scoreboard {
  background-color: black;
  font-family: Cursed Timer ULiL;
  color: red;
  text-shadow: cyan 1px 1px 1px;
  text-align: left;
  display: flex;
  margin: auto;
  margin-top: 5%;
  margin-bottom: -8%;
  height: 125px;
  max-width: 450px;
  border-style: groove;
  border-color: #4a646c;
  border-width: 20px;
  font-size: 220%;
  padding-top: 10px;
  padding-bottom: -10px;

  padding-left: 22px;
  padding-top: 20px;
}
.scores {
  font-family: "Cursed Timer ULiL";
  border-style: inset;
  margin-bottom: 80px;
  height: 50px;
  width: 100px;
  background-color: darkcyan;
}
.loser {
  display: none;
}
.loser2 {
  color: black;
  text-shadow: red 1px 1px 1px;
  font-family: "Bauhaus 93";
  animation: zoom-in-zoom-out 3s ease infinite;
  display: block;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3, 3) rotateZ(720deg);
  }
}

.LeaveGame {
  height: 60px;
  font-size: xx-large;
  color: rgb(183, 179, 179);
  background-color: black;
  border-style: ridge;
  border-width: 10px;
  /* margin-top: 40%; */
}
.LeaveGame:hover {
  color: red;
  animation: color-changer 4s ease infinite;
  cursor: url("../cursors/Link Select.cur"), auto;
}
.LeaveGame:active {
  animation: shadow-changer 4s ease infinite;
  transform: translateY(4px);
}

@keyframes color-changer {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  75% {
    color: yellow;
  }
  100% {
    color: green;
  }
}
@keyframes shadow-changer {
  0% {
    box-shadow: 5px 5px 5px red, 3px 3px 5px blue inset;
  }
  25% {
    box-shadow: 5px 5px 5px blue, 3px 3px 5px red inset;
  }
  75% {
    box-shadow: 5px 5px 5px yellow, 3px 3px 5px green inset;
  }
  100% {
    box-shadow: 5px 5px 5px green, 3px 3px 5px yellow inset;
  }
}
@keyframes backgroundcolor-changer {
  0% {
    background-color: rgba(255, 0, 0, 0.264);
  }
  25% {
    background-color: rgba(0, 0, 255, 0.264);
  }
  75% {
    background-color: rgba(255, 255, 0, 0.264);
  }
  90% {
    background-color: rgba(0, 243, 0, 0.264);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
