.App {
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px white;
  font-family: "Papyrus";
  font-size: 20px;
}
.lightButton {
  height: 200px;
  width: 200px;
  margin: 0px;
  border-width: 10px;
  border-style: outset;
  box-shadow: black 1px 1px 1px 1px;
}
.lightButton:active {
  transform: scale(99%);
}
.gameboard {
  margin: 10%;
  position: relative;
}
.gameboardHalf {
  display: flex;
  align-items: center;
  justify-content: center;
}
.startButton {
  height: 200px;
  width: 200px;
  background-color: black;
  border-width: 15px;
  border-style: ridge groove groove ridge;
  border-color: rgb(0, 0, 0);
  border-radius: 100%;
  position: absolute;
  margin-left: 0px;
  margin-top: -15em;
}
.centerLogo {
  border-style: solid;
  border-color: rgb(139, 139, 139);
  border-radius: 50px;
  border-width: 5px;
  height: 40px;
  width: 150px;
  font-family: "Bauhaus 93";
  font-size: 45px;
  line-height: 40px;
  border-style: groove;
}
.startButton:active {
  transform: scale(0.99);
}
