.App {
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px white;
  font-family: "Papyrus";
  font-size: 20px;
}
.lightButton {
  height: 200px;
  width: 200px;
  margin: 0px;
  border-width: 10px;
  border-style: outset;
  box-shadow: black 1px 1px 1px 1px;
}
.lightButton:active {
  transform: scale(99%);
}
.gameboard {
  margin: 10%;
  position: relative;
}
.gameboardHalf {
  display: flex;
  align-items: center;
  justify-content: center;
}
.startButton {
  height: 200px;
  width: 200px;
  background-color: black;
  border-width: 15px;
  border-style: ridge groove groove ridge;
  border-color: rgb(0, 0, 0);
  border-radius: 100%;
  position: absolute;
  margin-left: 0px;
  margin-top: -15em;
  color: red;
}
.centerLogo {
  border-style: solid;
  border-color: rgb(139, 139, 139);
  border-radius: 50px;
  border-width: 5px;
  height: 40px;
  width: 150px;
  font-family: "Bauhaus 93";
  font-size: 45px;
  line-height: 40px;
  border-style: groove;
}
.startButton:active {
  transform: scale(0.99);
}
.scoreboard {
  background-color: black;
  font-family: Cursed Timer ULiL;
  color: red;
  text-shadow: cyan 1px 1px 1px;
  text-align: left;
  display: flex;
  /* position: absolute; */
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: -8%;
  height: 125px;
  width: 450px;
  border-style: groove;
  border-color: #4a646c;
  border-width: 20px;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: -10px;
  padding-right: 60px;
  padding-left: 30px;
  padding-top: 20px;
}
.scores {
  font-family: "Cursed Timer ULiL";
  border-style: inset;
  margin-bottom: 80px;
  height: 50px;
  width: 100px;
  background-color: darkcyan;
}
.loser {
  display: none;
}
.loser2 {
  color: black;
  text-shadow: red 1px 1px 1px;
  font-family: "Bauhaus 93";
  animation: zoom-in-zoom-out 3s ease infinite;
  display: block;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3, 3) rotateZ(720deg);
  }
}
